<html>
    <head>
        <title>Angular Avatar</title>
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <link href="avatar.css" rel="stylesheet">
        <script src="avatar.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="header">
            <center><img id = logo src="user.png" class=center></center>
            </div>
            <div id = "spacer"></div>
    <div class='site_container' ng-app='app' ng-controller='mainCtrl'>
    <div id = "spacer"></div>
    <center><h1>CREATE&nbsp NEW &nbspUSER</h1></center>
    
    <center><form name='userForm' ng-submit='addNew(userForm)' autocomplete='off'>
      <input id = 'userInput' placeholder='NAME' ng-model='userForm.name' autocomplete='off'/>
      
      <input id = 'userInput' placeholder='EMAIL' ng-model='userForm.email' autocomplete='off'/>
      
      <input id = 'userInput' placeholder='IMAGE URL' ng-model='userForm.url' autocomplete='off'/>
      
      <button type='submit'>ADD USER</button>
    </form></center>

    <div id='user_list'>
        <div id = "spacer"></div>
        <center><h1>USER&nbsp LIST</h1></center>
        <div id='flex_parent'>
            <div class='flex_child' ng-repeat='user in users'>
                <avatar user='user' />
            </div>
        </ul>
        </div>
    </div>
  </div>
    </body>
</html>