#header {
    background-image: url('header1.jpg');
    background-position: center;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
}
        
#footer {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color: white;
    background-color: #421211;
}
        
#container {
    background-color: #a30500;
}
        
#jokeview {
    height: 0px;
}
        
        
button{
  background:#a30500;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#a30500;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #a30500;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
        
div {
    padding: 50px;
    background-color: white;
}
        
h1 {
    font-size: 55px;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color: black;
}
        
h2 {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    color: #33505F;
}