<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>Welcome to Breakout!</title>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width", initial-scale=1.0, user-scalable="no"/>
    <link href="breakout.css" media="screen, print" rel="stylesheet" type="text/css" />
</head>
        
<body>  
    <center><div ng-controller="myController">
        <p2 id="welcomeText">Welcome to Breakout! <br> You are logged in as
            <%= username %></p2><br>
            <div id = "spacer2"></div>
        <a id="logoutLink" href="/logout">Logout</a>
        <a>&nbsp</a>
        <a id="editLink" href="/user">Edit User</a>
        <br>
        <div id="breakout">
    <canvas id="canvas">
      <div class='unsupported'>
        Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
      </div>
    </canvas>
    <div id="levels">
      <img id="next" class="disabled" src="images/up.png"   title="next level">
      <img id="prev" class="disabled" src="images/down.png" title="previous level">
      <span id="label">level:</span><span id="level"></span>
    </div>
    <div id="controls">
      <input id='sound' type='checkbox' />
      <label for='sound'>sound</label>
    </div>
    <div id="instructions" style='display:none;'>
      <div class='keyboard'>
        <b>space</b> to start<br>
        <b>left/right</b> to move paddle<br>
        <b>up/down</b> to change level
      </div>
      <div class='touch'>
        <b>touch here</b> to start<br>
        <b>drag</b> paddle to move<br>
      </div>
    </div>
  </div>

  <script src="game.js"></script>
  <script src="breakout.js"></script>
  <script src="levels.js"></script>
  <script>
  Game.ready(function() {
    var game = Game.start('canvas', Breakout);
  });
  </script>
        
    </div></center>
    <hr>
    <center><span id="indexMsg">
        <%= msg %>
    </span></center>
    <hr>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <div id = "spacer"></div>
</body>
      
</html>
