body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-size: 40px;
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  color: #33505F;
}

p2 {
  font-size: 26px;
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  color: #33505F;
}

a {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  color: #33505F;
}

h1 {
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  color: #33505F;
}


form {
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  font-weight: lighter;
  color: #33505F;
}

input[type=text] {
  height: 30px;
  border-radius: 3px; 
  margin-bottom: 15px;
  border: 2px solid #33505F;
}

input[type=email] {
  height: 30px;
  border-radius: 3px; 
  margin-bottom: 15px;
  border: 2px solid #33505F;
}

input[type=password] {
  height: 30px;
  border-radius: 3px; 
  margin-bottom: 15px;
  border: 2px solid #33505F;
}

input[type=submit] {
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    padding:5px 15px; 
    height: 40px;
    background: #33505F; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=submit]:hover {
    font-size: 18px;
    height: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    padding:5px 15px; 
    background:black; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#spacer {
  height: 30px;
}

#spacer2 {
  height: 20px;
}